<!DOCTYPE html>
<html>
<head>
<title>about</title>
<link rel="stylesheet" href="/css/styless.css">

</head>
<body id="main-content">

  {{>header}}
  <p> This is a weather app</p>
  <img src="/images/sonu" height="200px" width="200px" id="abhiimg"/>
</body>
  {{>footer}}

</html>
