<!DOCTYPE html>
<html>
<head>
  <title>TEAM RHYTHM</title>
  <link rel="icon" href="./asli.png" type= image/png>
    <link rel="stylesheet" href="/css/styless.css">

</head>
<body id="bodyka">
  {{>header}}
  <p> try a search and you will see the temperature</p>
  {{>footer}}



</body>

</html>
