<!DOCTYPE html>
<html>
<head>
  <title>weather</title>
  <link rel="icon" href="/images/weather.png" type= image/png>
  <link rel="stylesheet" href="/css/styless.css">


</head>
<body id="main-content">
  {{>header}}

  <p>{{title}}</p>
  <form>
    <input placeholder="location">
    <button>search</button>
  </form>
  <p id="ans-1" class="data"><p>
    <p id="ans-2" class="data"></p>
    <p id="ans-3" class="data"></p>


  {{>footer}}
    <script src="/java_front/app.js"></script>
  </body>





</html>
