<!DOCTYPE html>
<html>
<head>
  <title>weather</title>
  <link rel="icon" href="/images/weather.png" type= image/png>
  <link rel="stylesheet" href="/css/styless.css">

</head>
<body id="main-content">
  {{>header}}
  <p>{{name}}</p>
  <p>{{title}}</p>
  </body>

  {{>footer}}





</html>
